body {
    background: hsl(0, 0%, 0%);
    color: white;
    font-family: "Poetsen One", sans-serif;
    margin-bottom: 150px;

}

header {
    border-bottom: solid 2px hsl(0, 98%, 50%);
    padding: 20px;
    font-size: 60px;
    color: #fd0c0c;
    display: flex;
    justify-content: center;

}

.texto {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.video {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
}

.outros-filmes {
    display: flex;
    gap: 10px;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;

}

h2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: hsl(0, 0%, 100%);
    padding-top: 50px;
    padding-bottom: 20px;

}

.outros-filmes img {
    opacity: 0.5;
    height: 200px;
}

.outros-filmes img:hover {
    opacity: 1;
    border: 2px solid #ff0000;
}